*,
*::after,
*::before {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

header,
footer {
  background-color: #1f2937;
}

footer {
  text-align: center;
}

.logo {
  width: 200px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.header__disc p,
a {
  font-weight: 18px;
  color: #e5e7eb;
}

.menu {
  display: flex;
  gap: 30px;
}

.first_item_menu {
  margin-left: auto;
}

.wrapper {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 0 auto;
  align-items: center;
}

.header__but,
.header__photo {
  margin-bottom: 70px;
}

.header__photo {
  max-width: 150px;
  margin-right: 150px;
}

button {
  border-color: #3882f6;
  border-radius: 7px;
  background-color: #3882f6;
  padding: 7px 25px;
}

.header__link {
  text-decoration: none;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 700;
  font-size: large;
}

.random__title{
  display: block-inline;
  text-align: center;
  color: black;
}

ul{
  list-style-type: none;
}


.random__block-pic{
  max-width: 100px;
}


.random__block {
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
  flex-basis: 0;
}

.random__block-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

