
a {
    text-decoration: none;
}

header,
footer {
    background-color: #1f2937;
}

.logo {
    width: 200px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;  
}

.header__disc p,
a {
    font-weight: 18px;
    color: #e5e7eb;
}

.menu {
    display: flex;
    gap: 30px;
}

.first_item_menu {
    margin-left: auto;
}

.wrapper {
    max-width: 1100px;
    display: flex;
    justify-content: center;
}